h1, h2, p {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

h2 {
    text-transform: uppercase;
}

label {
    margin-right: 20px;
}

button {
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 25px;
    width: auto;
    height: auto;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #05A8AA;
    color: white;
}

.element {
    display: block;
    height: auto;
    width: auto;
    max-width: 20%;
    margin: 15px 15px;
    padding: 10px 40px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #05A8AA;
    font-weight: bold;
    color: #05A8AA;
    background-color: white;
    text-align: center;
}

.element:hover {
    background-color: #05A8AA;
    color: #FFF;
}

.important {
    font-weight: bold;
}